---
layout: post
slug: "photos"
title: "相册"
noDate: "true"
comments: "false"
---
<link rel="stylesheet" href="./ins.css">
<div class="photos-btn-wrap">
	<a class="photos-btn active" href="javascript:void(0)">相册</a>
	<a class="photos-btn" target="_blank" href="javascript:void(0)" onclick="javascript:alert('敬请期待...')">摄影</a>
</div>
<div class="instagram itemscope">
	<a href="/"  class="open-ins">你要找的图片去火星了，请继续浏览其他内容吧…</a>
</div>
<script>
  (function() {
    var loadScript = function(path) {
      var $script = document.createElement('script')
      document.getElementsByTagName('body')[0].appendChild($script)
      $script.setAttribute('src', path)
    }
    setTimeout(function() {
      loadScript('./ins.js')
    }, 0)
  })()
</script>
